//FONTS
@import url('https://fonts.googleapis.com/css?family=Bitter|Noto+Sans');
@mixin logo() {
	font-family: 'Bitter', serif;
}

@mixin mainFontStack($size) {
	font-family: 'Noto Sans', sans-serif;
	font-size: $size;
}

body {
	@include mainFontStack(1em);
}

//PALETTE
$lightblue: #b6d9f5;
$darkblue: #0c375a;
$blueblack: #011627;


// SPLASH STYLES

.jumbotron {
	margin-top: 6em;
	height: 70%;
	box-shadow: 10px 2px 0xp $blueblack;
	border: 1px solid black;

	h1 {
		color: $darkblue;
		text-shadow: 1px 1px 1px black;
		@include logo();
	}

	.btn {
		margin-top: 10rem;
	}
}

// NAVBAR STYLES
.navbar {
	background-color: #e3f2fd;
}

.navbar {
	a {
		color: initial;
		text-decoration: none;
	}
	h1 {
		display: inline;
		font-size: 3em;
		margin-left: 1.2em;
		@include logo();
	}
}

ul.nav-ul {
	display: inline;
	list-style-type: none;
}

li.nav-li {
	margin-right: 2em;
	display: inline;
}

//SECONDARY NAVBARS
.secondary-tabs {
	ul {
		list-style-type: none;
	}
	li {
		display: inline;
		margin: 1em;
	}
}

//MAIN VIEWS
.main {
	h2 {
		margin-top: 1.2em;
	}
}

//NEW STUDENT FORM
.add-student-form {
	width: 100%;
	padding: 1em;
}

//LIST STYLES
.btn-sm {
	font-size: 0.3em;
}
