//FONTS


//PALETTE
$lightblue: #b6d9f5;
$darkblue: #0c375a;
$blueblack: #011627;


// SPLASH STYLES

.jumbotron {
	margin-top: 6em;
	height: 70%;
	box-shadow: 10px 2px 0xp $blueblack;
	border: 1px solid black;

	h1 {
		color: $darkblue;
		text-shadow: 1px 1px 1px black;
	}

	.btn {
		margin-top: 10rem;
	}
}

// NAVBAR STYLES
.navbar {
	background-color: #e3f2fd;
}

.navbar {
	h1 {

	}
	a {
		color: initial;
		text-decoration: none;
	}
}

ul.nav-ul {
	list-style-type: none;
}

li.nav-li {
	margin-right: 2em;
	display: inline;
}

//SECONDARY NAVBARS
.secondary-tabs {
	ul {
		list-style-type: none;
	}
	li {
		display: inline;
		margin: 1em;
	}
}