<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" ng-href="#!/assessments">My Assessments</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-create">Create an Assessment</a>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-scoring-overview">Score an Assessment</a>
		</ul>
	</div>
</div>

<div class="container main">
	<div class="main-title">
		<h2>Assessment Overview</h2>
	</div>
	<div class="assessments">
		<table class="table table-hover">
			<thead class="thead">
				<tr>
					<th>Assessment Name:</th>
					<th>Classes Assigned:</th>
					<th>Date Assigned:</th>
					<th>Average Score:</th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="assessment in assessments">
					<td><a ng-href="#!/view-assessment/{{assessment.id}}">{{assessment.assessmentName}}</a></td>
					<td>
						<ul class="table-class-list" ng-repeat="class in assessment.classes">
							<li class="table-class-list-item"><a ng-href="#!/view-assessment-class/{{class.id}}">{{class.className}}</a></li>
						</ul>
					</td>
					<td>{{assessment.displayDate}}</td>
					<td>{{assessment.average}}</td>
					<td>
						<button class="btn btn-secondary btn-sm" ng-click="editAssessment(assessment.id)">Edit</button>
						<button class="btn btn-danger btn-sm" ng-click="deleteAssessment(assessment.id)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
