<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessments">My Assessments</a></li>
			<li class="nav-item"><a class="nav-link active" ng-href="#!/assessment-create">Create an Assessment</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-scoring-overview">Score an Assessment</a>
		</ul>
	</div>
</div>

<div class="container main">
	<h2>New Assessment</h2>
	<div class="row">
		<div class="col-6">
			<div class="form-group">
				<label for="assessment-name">
					Assessment Name:
					<input type="text" id="assessment-name" ng-model="newAssessmentObj.assessmentName" class="form-control">
				</label>
			</div>
			<div class="form-group">
				<label for="assessment-points">
					Total Points Possible:
					<input type="number" id="assessment-points" ng-model="newAssessmentObj.totalPoints" class="form-control">
				</label>
			</div>
			<div class="form-group">
				<label for="assessment-date">
					Date Assigned:
					<input type="date" id="assessment-date" ng-model="newAssessmentObj.date" class="form-control">
				</label>
			</div>
		</div>
		<div class="col-6">
			<div class="form-group">
				<h4>Assign to Classes:</h4>
				<ul class="list-group" ng-repeat="class in classes">
					<li class="list-group-item">
						<div class="form-check">
						  <label class="form-check-label">
						    <input class="form-check-input" class="checkbox" type="checkbox" ng-click="addClass(class.id)">
						    {{class.className}}
						  </label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
		<button type="button" class="btn btn-outline-primary" ng-click="addAssessment()">Create Assessment</button>

</div>