<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessments">My Assessments</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-create">Create an Assessment</a>
			<li class="nav-item"><a class="nav-link active" ng-href="#!/assessment-scoring-overview">Score an Assessment</a>
		</ul>
	</div>
</div>

<div class="container main">
	<h2>{{assessment.assessmentName}}</h2>
	<div class="row assessments">
		<div class="col-6">
			<p><strong>Total Points Possible: {{assessment.totalPoints}}</strong></p>
			<p><strong>Date Assigned: {{assessment.displayDate}}</strong></p>
		</div>
		<div class="col-6">
			
		</div>
	</div>
	<div class="row assessments">
		<div class="col-12">
			<ul ng-repeat="class in assessment.classes track by $index">
				<li>{{class.className}}</li>
					<ul class="secondary-tabs" ng-repeat="student in assessment.classes[$index].students">
						<li >
							<div class="row">
								<div class="col-4">
									{{student.firstName}}
									{{student.lastName}}
								</div>
								<div class="col-4">
									<input type="text" ng-model="student.points">
								</div>
								<div class="col-4"></div>
							</div>
						</li>
					</ul>
			</ul>
		</div>
		<div class="col-12">
			<button type="button" class="btn btn-outline-primary" ng-click="saveAssessment(assessment)">Save Assessment</button>
		</div>
	</div>

</div>