<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" ng-href="#!/classes">My Classes</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/class-create">Create a Class</a></li>
		</ul>
	</div>
</div>

<div class="container main">
		<h2>Class Overview</h2>
		<div class="classes">
		<ul class="class-list list-group" ng-repeat="class in classes">
			<li class="list-group-item">
				<p class="class-list-name">{{class.className}}</p>
				<button class="btn btn-secondary btn-sm">Edit</button>
				<button class="btn btn-danger btn-sm" ng-click="deleteClass(class.id)">Delete</button>
			</li>
		</ul>
	</div>

</div>