<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" ng-href="#!/classes">My Rosters</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/class-create">Create a Roster</a></li>
		</ul>
	</div>
</div>

<div class="container main">
	<h2>{{myClass.className}}</h2>
	<div class="row mt-5">
		<div class="col-4" ng-repeat="column in columns">
			<p ng-repeat="student in myClass.students | slice:column.start:column.end">
				<a ng-href="#!/view-assessment-student/{{student.id}}">{{student.firstName}} {{student.lastName}}</a>
			</p>
		</div>
	</div>
</div>
