<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" ng-href="#!/classes">My Rosters</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/class-create">Create a Roster</a></li>
		</ul>
	</div>
</div>

<div class="container main">
	<h2>Roster Overview</h2>
	<div class="assessments">
		<table class="table table-hover">
			<thead class="thead">
				<th>Class:</th>
				<th>Students:</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="class in classes">
					<td>
						<a ng-href="#!/class-roster-view/{{class.id}}">
							{{class.className}}
						</a>
					</td>
					<td>{{class.students.length}}</td>
					<td>
						<button class="btn btn-secondary btn-sm" ng-click="editClass(class.id)">Edit</button>
						<button class="btn btn-danger btn-sm" ng-click="deleteClass(class.id)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>