<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" ng-href="#!/classes">My Classes</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/class-create">Create a Class</a></li>
		</ul>
	</div>
</div>

<div class="container main">
	<h2>Create a Class</h2>
	<form>
		<div class="form-group">
			<label for="">
				Class Name:
				<input type="text" ng-model="newClassObj.className">
			</label>
		</div>
		<button type="button" class="btn btn-outline-primary" ng-click="addClass()">Add Class</button>
	</form>

</div>