<nav class="navbar">
	<div class="logo d-inline-block">
	  <h1 class="navbar-brand"><a ng-href="#!/assessments">Scoring</a></h1>
	</div>
	<div class="primary-menu-items d-inline-block">
	  <ul class="nav nav-pills" ng-controller="userCtrl">
	    <li class="nav-li nav-item"><a class="nav-link" ng-href="#!/assessments">MY ASSESSMENTS</a></li>
	    <li class="nav-li nav-item"><a class="nav-link" ng-href=#!/classes>MY ROSTERS</a></li>
	    <li class="nav-li nav-item"><a class="nav-link" ng-href=#!/students>MY STUDENTS</a></li>
	    <li class="nav-li nav-item"><a class="nav-link" href="#" ng-click="logout()">LOGOUT</a></li>
	  </ul>
	</div>
</nav>