<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" ng-href="#!/students">My Students</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/student-create">Add a Student</a></li>
		</ul>
	</div>
</div>

<div class="container main">
	<h2>Student Overview</h2>
	<div class="students">
		<div class="search-input">
	          <input type="text" class="form-control" placeholder="Search Students" ng-model="searchText">
	          <hr>
	        </div>
		<div class="row mt-5">
			<div class="col-4" ng-repeat="column in columns">
				<p ng-repeat="student in students | slice:column.start:column.end | filter: searchText">
					<strong>
						{{student.firstName}} {{student.lastName}} <br>
					</strong>
					<button class="btn btn-outline-danger btn-sm" ng-click="deleteStudent(student.id)">Delete</button>
					<button class="btn btn-outline-secondary btn-sm" ng-click="editStudent(student.id)">Edit</button>
					<hr>
				</p>
			</div>
		</div>
	</div>
</div>


