<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" ng-href="#!/students">My Students</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/student-create">Add a Student</a></li>
		</ul>
	</div>
</div>

<div class="container main">
	<h2>Student Overview</h2>
	<div class="students">
		<ul class="student-list list-group" ng-repeat="student in students">
			<li class="list-group-item">
				<p class="student-list-name">{{student.firstName}} {{student.lastName}}</p>
				<button class="btn btn-secondary btn-sm">Edit Student</button>
				<button class="btn btn-danger btn-sm" ng-click="deleteStudent(student.id)">Delete Student</button>
			</li>
		</ul>
	</div>
</div>