<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" ng-href="#!/students">My Students</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/student-create">Add a Student</a></li>
		</ul>
	</div>
</div>

<div class="container main">
	<h2>Add a New Student</h2>
	<div class="add-student-form">
		<form>
			<div class="form-group">
				<label for="input-first-name">
					First Name:
					<input type="text" id="input-first-name" ng-model="newStudentObj.firstName">
				</label>
			</div>
			<div class="form-group">
				<label for="input-last-name">
					Last Name:
					<input type="text" id="input-last-name" ng-model="newStudentObj.lastName">
				</label>
			</div>
			<button type="button" class="btn btn-outline-primary" ng-click="addStudent()">Add Student</button>
		</form>
	</div>
</div>