<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" ng-href="#!/assessments">My Assessments</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-create">Create an Assessment</a>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-scoring-overview">Score an Assessment</a>
		</ul>
	</div>
</div>

<div class="container main">
	<p><strong>Assessment:</strong> {{assessment.assessmentName}}</p>
	<p><strong>Assigned To:</strong> </p>
	<div class="single-assessment" ng-repeat="class in assessment.classes">
		<div class="class-name">
			<a ng-href="#!/view-assessment-class/{{class.id}}">{{class.className}}</a>
		</div>
		<!-- <div class="row" ng-repeat="level in proficiency">
			<div class="col-3">
				<p>{{level.levelName}}: {{level.levelCount}} Students</p>
			</div>
		</div> -->
	</div>
</div>