<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" ng-href="#!/assessments">My Assessments</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-create">Create an Assessment</a>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-scoring-overview">Score an Assessment</a>
		</ul>
	</div>
</div>

<div class="container main">
	<div class="row">
		<div class="col-12">
			<h2>{{assessment.assessmentName}}</h2>
			<h4>Class:  {{currentClass.className}}</h4>
			<p>Results:</p>
		</div>
	</div>
	<div class="row">
		<div class="col-3 border">
			<ul class="view-class-student-list" ng-repeat="student in currentStudents">
				<li class="{{student.proficiency}}">
					<a ng-href="#!/view-assessment-student/{{student.id}}">{{student.firstName}} {{student.lastName}}</a>: {{student.score}}
				</li>
			</ul>
		</div>
		<div class="col-9 border">
			<div class="row">
				<!-- <div id="donut-chart" class="col-6"> </div> -->
				<div donut-chart data="donutOutput" class="col-6"></div>
				<div class="col-6">
					<ul class="view-class-student-list" ng-repeat="d in donutData">
						<li class="{{d.level}}"><strong>{{d.level}}:</strong> {{d.percentage}} %</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>