<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" ng-href="#!/assessments">My Assessments</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-create">Create an Assessment</a>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-scoring-overview">Score an Assessment</a>
		</ul>
	</div>
</div>

<div class="container main">
	<h2>{{assessment.assessmentName}}</h2>
	<h4><strong>Assigned To:</strong> </h4>
	<div class="single-assessment" ng-repeat="class in assessment.classes track by $index">
		<div class="class-name">
			<h4><a ng-href="#!/view-assessment-class/{{class.id}}">{{class.className}}</a></h4>
		</div>
		<div class="row level-row">
			<div class="col-3 level-col" ng-repeat="level in levelCounts[$index]">
				<div class="{{level.levelName}}">
					<p>{{level.levelName}}:</p> 
					<p><em><a ng-href="#!/view-assessment-level/{{level.levelName}}">{{level.levelCount}} Students</a></em></p>
				</div>
			</div>
		</div>
	</div>
</div>