<div ng-include="'partials/nav.html'"></div>

<div class="container">
	<div class="secondary-tabs">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" ng-href="#!/assessments">My Assessments</a></li>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-create">Create an Assessment</a>
			<li class="nav-item"><a class="nav-link" ng-href="#!/assessment-scoring-overview">Score an Assessment</a>
		</ul>
	</div>
</div>

<div class="container main">
	<h2>{{assessment.assessmentName}}</h2>
	<h4><strong>Assigned To:</strong> </h4>
	<div class="single-assessment">
		<div class="class-name">
			<h4><a ng-href="#!/view-assessment-class/{{currentClass.id}}">{{currentClass.className}}</a></h4>
		</div>
		<div class="row">
			<div class="col-6">
				<h4>Students At: {{currentStudents[0].proficiency}}</h4>
			</div>
			<div class="col-6">
				<ul class="view-class-student-list" ng-repeat="student in currentStudents">
					<li class="{{student.proficiency}}">
						<a ng-href="#!/view-assessment-student/{{student.id}}">{{student.firstName}} {{student.lastName}}</a>: {{student.score}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>